.App {
  font-family: sans-serif;
  text-align: center;
}

.suggestions {
  clear: left;
  text-align: left;
  max-width: 550px;
  margin-bottom: 100px;
}

.suggestions .meta {
  font-size: 80%;
  font-style: italic;
}

.suggestions div {
  clear: left;
  border-top: 1px solid #efefef;
}

.suggestions div img {
  float: left;
  margin: 0 10px 10px 0;
  max-width: 100px;
}

input[type="text"] {
  padding: 15px;
}
